@keyframes colorChange {
  0% {
    background: rgba(255, 0, 0, 0.2); /* Start with a red-tinted background */
  }
  25% {
    background: rgba(0, 255, 0, 0.2); /* Transition to green-tinted background */
  }
  50% {
    background: #51e2f5; /* Transition to blue-tinted background */
  }
  75% {
    background: rgba(255, 255, 0, 0.2); /* Transition to yellow-tinted background */
  }
  100% {
    background: rgba(255, 0, 255, 0.2); /* Transition to magenta-tinted background */
  }
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  height: 110%;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;

  background: #51e2f5; /* Initial background color */
  backdrop-filter: blur(10px);
}

h1 {
  margin: 0;
  padding: 8px 0;
  background: #ffa8B6;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

hr {
  border: none;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  margin-top: 0;
}

label {
  font-size: 1.2rem;
}

.container {
  text-align: center;
  width: 80%;
  height: 500px;
  padding-top: 30px;
  margin: 3% 15% 0 5%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background: #d0bdf4;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.box {
  display: flex;
  text-align: center;
}

.f1 {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.f2 {
  display: flex;
  padding: 15px;
}

.c {
  display: flex;
  margin-left: 15%;
}

.c1 {
  margin: 6px;
  margin-top: 0;
  display: flex;
}

.display {
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 50%;
}

.div1 {
  display: flex;
  font-weight: normal;
  flex-direction: column;
  padding-left: 10px;
  padding-bottom: 15px;
}

.div1 div {
  padding: 5px;
}

.display h2 {
  margin-left: 20%;
  color: black;
}

.d {
  margin-bottom: 10px;
  width: 95%;
  height: 200px;
  border: 0.5px solid rgba(0, 21, 31, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background: #f6d8ac;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.f1 input {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  height: 35px;
  padding: 10px;
  border: none;
}

.f1 input::placeholder {
  font-weight: bold;
  color: rgb(78, 77, 77);
}

.in {
  width: 70%;
}

#img {
  height: fit-content;
  background: rgba(133, 133, 133, 0.2);
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
}

.submit {
  background: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
  border: none;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.submit:hover {
  background: rgba(61, 61, 61, 0.8);
  color: white;
}

.img {
  width: 150px;
  max-height: 120px;
  border-radius: 20px;
  padding: 5px;
  padding-right: 10px;
  align-self: center;
}

@media only screen and (max-width: 730px) {
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .f1 {
    display: flex;
    flex-direction: column;
  }
  .f2 {
    display: flex;
    flex-direction: column;
    padding: 23px;
  }
  .in {
    width: 100%;
  }
  .display {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .display h2 {
    margin-left: 0;
  }
  .c {
    display: flex;
    justify-content: space-around;
    margin-left: 0;
  }
  .submit {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 455px) {
  .d {
    flex-direction: column;
  }
  .img {
    align-self: center;
  }
}
